<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AF</key>
	<dict>
		<key>lat</key>
		<real>-30.559482</real>
		<key>long</key>
		<real>22.937506</real>
		<key>name</key>
		<string>South Africa</string>
	</dict>
	<key>AM</key>
	<dict>
		<key>lat</key>
		<real>52.373801</real>
		<key>long</key>
		<real>4.890935</real>
		<key>name</key>
		<string>Amsterdam</string>
	</dict>
	<key>AR</key>
	<dict>
		<key>lat</key>
		<real>-8.783194999999999</real>
		<key>long</key>
		<real>34.508523</real>
		<key>name</key>
		<string>Africa</string>
	</dict>
	<key>AT</key>
	<dict>
		<key>lat</key>
		<real>37.97918</real>
		<key>long</key>
		<real>23.716647</real>
		<key>name</key>
		<string>Athens</string>
	</dict>
	<key>AU</key>
	<dict>
		<key>lat</key>
		<real>47.516231</real>
		<key>long</key>
		<real>14.550072</real>
		<key>name</key>
		<string>Austria</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>lat</key>
		<real>-34.611781</real>
		<key>long</key>
		<real>-58.417309</real>
		<key>name</key>
		<string>Buenos Aires</string>
	</dict>
	<key>BC</key>
	<dict>
		<key>lat</key>
		<real>54.173338</real>
		<key>long</key>
		<real>-6.345015</real>
		<key>name</key>
		<string>Branch At Dominican</string>
	</dict>
	<key>BD</key>
	<dict>
		<key>lat</key>
		<real>47.498406</real>
		<key>long</key>
		<real>19.040758</real>
		<key>name</key>
		<string>Budapest</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>lat</key>
		<real>32.321384</real>
		<key>long</key>
		<real>-64.75736999999999</real>
		<key>name</key>
		<string>Bermuda</string>
	</dict>
	<key>BK</key>
	<dict>
		<key>lat</key>
		<real>42.931672</real>
		<key>long</key>
		<real>-74.204392</real>
		<key>name</key>
		<string>Berkley School</string>
	</dict>
	<key>BL</key>
	<dict>
		<key>lat</key>
		<real>52.523405</real>
		<key>long</key>
		<real>13.4114</real>
		<key>name</key>
		<string>Berlin</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>lat</key>
		<real>55.378051</real>
		<key>long</key>
		<real>-3.435973</real>
		<key>name</key>
		<string>Britain</string>
	</dict>
	<key>BS</key>
	<dict>
		<key>lat</key>
		<real>50.837051</real>
		<key>long</key>
		<real>4.367612</real>
		<key>name</key>
		<string>Brussels</string>
	</dict>
	<key>BU</key>
	<dict>
		<key>lat</key>
		<real>42.733883</real>
		<key>long</key>
		<real>25.48583</real>
		<key>name</key>
		<string>Bulgaria</string>
	</dict>
	<key>BZ</key>
	<dict>
		<key>lat</key>
		<real>-14.235004</real>
		<key>long</key>
		<real>-51.92528</real>
		<key>name</key>
		<string>Brazil</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>lat</key>
		<real>40.731163</real>
		<key>long</key>
		<real>-73.994444</real>
		<key>name</key>
		<string>Cantor Film Center</string>
	</dict>
	<key>CB</key>
	<dict>
		<key>lat</key>
		<real>21.521757</real>
		<key>long</key>
		<real>-77.781167</real>
		<key>name</key>
		<string>Cuba</string>
	</dict>
	<key>CE</key>
	<dict>
		<key>lat</key>
		<real>-35.675147</real>
		<key>long</key>
		<real>-71.542969</real>
		<key>name</key>
		<string>Chile</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>lat</key>
		<real>35.86166</real>
		<key>long</key>
		<real>104.195397</real>
		<key>name</key>
		<string>China</string>
	</dict>
	<key>CL</key>
	<dict>
		<key>lat</key>
		<real>38.897756</real>
		<key>long</key>
		<real>-77.01308400000001</real>
		<key>name</key>
		<string>Cardoza Law</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>lat</key>
		<real>56.130366</real>
		<key>long</key>
		<real>-106.346771</real>
		<key>name</key>
		<string>Canada</string>
	</dict>
	<key>CR</key>
	<dict>
		<key>lat</key>
		<real>9.748917</real>
		<key>long</key>
		<real>-83.753428</real>
		<key>name</key>
		<string>Costa Rica</string>
	</dict>
	<key>CS</key>
	<dict>
		<key>lat</key>
		<real>40.728798</real>
		<key>long</key>
		<real>73.991069</real>
		<key>name</key>
		<string>Cooper Square, 48 Cooper Square</string>
	</dict>
	<key>CT</key>
	<dict>
		<key>lat</key>
		<real>-33.922461</real>
		<key>long</key>
		<real>18.416619</real>
		<key>name</key>
		<string>Cape Town</string>
	</dict>
	<key>CU</key>
	<dict>
		<key>lat</key>
		<real>40.729852</real>
		<key>long</key>
		<real>-73.991488</real>
		<key>name</key>
		<string>Cooper Union, 51 Astor Place</string>
	</dict>
	<key>CW</key>
	<dict>
		<key>lat</key>
		<real>29.511366</real>
		<key>long</key>
		<real>-95.429064</real>
		<key>name</key>
		<string>C.W. Post</string>
	</dict>
	<key>CY</key>
	<dict>
		<key>lat</key>
		<real>40.7127</real>
		<key>long</key>
		<real>-74.0059</real>
		<key>name</key>
		<string>City Hall</string>
	</dict>
	<key>DA</key>
	<dict>
		<key>lat</key>
		<real>40.781508</real>
		<key>long</key>
		<real>-73.95505900000001</real>
		<key>name</key>
		<string>Dalton School, 108 East 89th Street</string>
	</dict>
	<key>DB</key>
	<dict>
		<key>lat</key>
		<real>53.344104</real>
		<key>long</key>
		<real>-6.267494</real>
		<key>name</key>
		<string>Dublin</string>
	</dict>
	<key>DC</key>
	<dict>
		<key>lat</key>
		<real>40.738139</real>
		<key>long</key>
		<real>-73.97807</real>
		<key>name</key>
		<string>Dental Center, 421 First Avenue</string>
	</dict>
	<key>DW</key>
	<dict>
		<key>lat</key>
		<real>41.477908</real>
		<key>long</key>
		<real>-83.592388</real>
		<key>name</key>
		<string>Dowling</string>
	</dict>
	<key>EN</key>
	<dict>
		<key>lat</key>
		<real>52.019029</real>
		<key>long</key>
		<real>-0.770427</real>
		<key>name</key>
		<string>England</string>
	</dict>
	<key>FA</key>
	<dict>
		<key>lat</key>
		<real>40.776301</real>
		<key>long</key>
		<real>-73.96417700000001</real>
		<key>name</key>
		<string>Inst. Of Fine Arts, 1 East 78th Street</string>
	</dict>
	<key>FC</key>
	<dict>
		<key>lat</key>
		<real>40.732277</real>
		<key>long</key>
		<real>-73.982657</real>
		<key>name</key>
		<string>15th Street Center, 345 East 15th Street</string>
	</dict>
	<key>FL</key>
	<dict>
		<key>lat</key>
		<real>43.768732</real>
		<key>long</key>
		<real>11.256901</real>
		<key>name</key>
		<string>Florence</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>lat</key>
		<real>46.227638</real>
		<key>long</key>
		<real>2.213749</real>
		<key>name</key>
		<string>France</string>
	</dict>
	<key>FS</key>
	<dict>
		<key>lat</key>
		<real>40.734283</real>
		<key>long</key>
		<real>-73.98541899999999</real>
		<key>name</key>
		<string>Friends Seminar, 222 East 16th Street</string>
	</dict>
	<key>GE</key>
	<dict>
		<key>lat</key>
		<real>44.407062</real>
		<key>long</key>
		<real>8.933989</real>
		<key>name</key>
		<string>Genoa</string>
	</dict>
	<key>GH</key>
	<dict>
		<key>lat</key>
		<real>7.946527</real>
		<key>long</key>
		<real>-1.023194</real>
		<key>name</key>
		<string>Ghana</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>lat</key>
		<real>39.074208</real>
		<key>long</key>
		<real>21.824312</real>
		<key>name</key>
		<string>Greece</string>
	</dict>
	<key>HC</key>
	<dict>
		<key>lat</key>
		<real>40.728447</real>
		<key>long</key>
		<real>-73.994297</real>
		<key>name</key>
		<string>Hebrew Union College, 1 West 4th Street</string>
	</dict>
	<key>HI</key>
	<dict>
		<key>lat</key>
		<real>19.898682</real>
		<key>long</key>
		<real>-155.665857</real>
		<key>name</key>
		<string>Hawaii</string>
	</dict>
	<key>HT</key>
	<dict>
		<key>lat</key>
		<real>22.396428</real>
		<key>long</key>
		<real>114.109497</real>
		<key>name</key>
		<string>Hong Kong &amp; Taiwan</string>
	</dict>
	<key>IS</key>
	<dict>
		<key>lat</key>
		<real>31.046051</real>
		<key>long</key>
		<real>34.851612</real>
		<key>name</key>
		<string>Israel</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>lat</key>
		<real>41.87194</real>
		<key>long</key>
		<real>12.56738</real>
		<key>name</key>
		<string>Italy</string>
	</dict>
	<key>JD</key>
	<dict>
		<key>lat</key>
		<real>40.734264</real>
		<key>long</key>
		<real>-73.98356200000001</real>
		<key>name</key>
		<string>Hospital for Joint Diseases</string>
	</dict>
	<key>KG</key>
	<dict>
		<key>lat</key>
		<real>40.753132</real>
		<key>long</key>
		<real>-73.98403399999999</real>
		<key>name</key>
		<string>Katherine Gibbs</string>
	</dict>
	<key>LH</key>
	<dict>
		<key>lat</key>
		<real>40.762939</real>
		<key>long</key>
		<real>-73.96898400000001</real>
		<key>name</key>
		<string>Lighthouse, 111 East 59th Street</string>
	</dict>
	<key>LM</key>
	<dict>
		<key>lat</key>
		<real>40.759829</real>
		<key>long</key>
		<real>-73.975049</real>
		<key>name</key>
		<string>Lab Inst of Merchandising</string>
	</dict>
	<key>LO</key>
	<dict>
		<key>lat</key>
		<real>51.500152</real>
		<key>long</key>
		<real>-0.126236</real>
		<key>name</key>
		<string>London</string>
	</dict>
	<key>LP</key>
	<dict>
		<key>lat</key>
		<real>43.820577</real>
		<key>long</key>
		<real>11.283089</real>
		<key>name</key>
		<string>La Pietra</string>
	</dict>
	<key>MC</key>
	<dict>
		<key>lat</key>
		<real>40.74301</real>
		<key>long</key>
		<real>-73.974143</real>
		<key>name</key>
		<string>NYU Medical Center, 550 First Avenue</string>
	</dict>
	<key>MH</key>
	<dict>
		<key>lat</key>
		<real>41.025256</real>
		<key>long</key>
		<real>-73.71583099999999</real>
		<key>name</key>
		<string>Manhattanville</string>
	</dict>
	<key>MI</key>
	<dict>
		<key>lat</key>
		<real>43.083939</real>
		<key>long</key>
		<real>-77.676191</real>
		<key>name</key>
		<string>Mechanics Institute</string>
	</dict>
	<key>MM</key>
	<dict>
		<key>lat</key>
		<real>40.779371</real>
		<key>long</key>
		<real>-73.963454</real>
		<key>name</key>
		<string>Metropolitan Museum of Art</string>
	</dict>
	<key>MS</key>
	<dict>
		<key>lat</key>
		<real>25.812756</real>
		<key>long</key>
		<real>-80.14000299999999</real>
		<key>name</key>
		<string>Mount Sinai Medical Center</string>
	</dict>
	<key>MT</key>
	<dict>
		<key>lat</key>
		<real>40.7543</real>
		<key>long</key>
		<real>-73.981847</real>
		<key>name</key>
		<string>Midtown Center, 11 West 42nd Street</string>
	</dict>
	<key>MV</key>
	<dict>
		<key>lat</key>
		<real>40.741802</real>
		<key>long</key>
		<real>-73.99227399999999</real>
		<key>name</key>
		<string>Manhattan Village Academy, 43 West 22nd Street</string>
	</dict>
	<key>MX</key>
	<dict>
		<key>lat</key>
		<real>23.634501</real>
		<key>long</key>
		<real>-102.552784</real>
		<key>name</key>
		<string>Mexico</string>
	</dict>
	<key>NE</key>
	<dict>
		<key>lat</key>
		<real>52.132633</real>
		<key>long</key>
		<real>5.291266</real>
		<key>name</key>
		<string>Netherlands</string>
	</dict>
	<key>NI</key>
	<dict>
		<key>lat</key>
		<real>43.703406</real>
		<key>long</key>
		<real>7.266202</real>
		<key>name</key>
		<string>Nice</string>
	</dict>
	<key>NT</key>
	<dict>
		<key>lat</key>
		<real>40.74648</real>
		<key>long</key>
		<real>-73.98106300000001</real>
		<key>name</key>
		<string>Norman Thomas, 111 East 33rd Street</string>
	</dict>
	<key>OC</key>
	<dict>
		<key>lat</key>
		<integer>0</integer>
		<key>long</key>
		<integer>0</integer>
		<key>name</key>
		<string>Off-Campus</string>
	</dict>
	<key>OR</key>
	<dict>
		<key>lat</key>
		<real>28.553154</real>
		<key>long</key>
		<real>-81.36443800000001</real>
		<key>name</key>
		<string>Orlando</string>
	</dict>
	<key>PE</key>
	<dict>
		<key>lat</key>
		<real>-9.189966999999999</real>
		<key>long</key>
		<real>-75.015152</real>
		<key>name</key>
		<string>Peru</string>
	</dict>
	<key>PG</key>
	<dict>
		<key>lat</key>
		<real>50.087811</real>
		<key>long</key>
		<real>14.42046</real>
		<key>name</key>
		<string>Prague</string>
	</dict>
	<key>PI</key>
	<dict>
		<key>lat</key>
		<real>43.716135</real>
		<key>long</key>
		<real>10.396584</real>
		<key>name</key>
		<string>Pisa</string>
	</dict>
	<key>PO</key>
	<dict>
		<key>lat</key>
		<real>50.06465</real>
		<key>long</key>
		<real>19.94498</real>
		<key>name</key>
		<string>Cracow</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>lat</key>
		<real>18.220833</real>
		<key>long</key>
		<real>-66.590149</real>
		<key>name</key>
		<string>Puerto Rico</string>
	</dict>
	<key>PS</key>
	<dict>
		<key>lat</key>
		<real>48.856667</real>
		<key>long</key>
		<real>2.350987</real>
		<key>name</key>
		<string>Paris</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>lat</key>
		<real>-25.74597</real>
		<key>long</key>
		<real>28.187008</real>
		<key>name</key>
		<string>Pretoria</string>
	</dict>
	<key>PU</key>
	<dict>
		<key>lat</key>
		<real>40.729278</real>
		<key>long</key>
		<real>-73.995976</real>
		<key>name</key>
		<string>Stern Graduate at Purchase</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>lat</key>
		<real>61.52401</real>
		<key>long</key>
		<real>105.318756</real>
		<key>name</key>
		<string>Russia</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>lat</key>
		<integer>0</integer>
		<key>long</key>
		<integer>0</integer>
		<key>name</key>
		<string>Study Abroad</string>
	</dict>
	<key>SB</key>
	<dict>
		<key>lat</key>
		<real>47.800499</real>
		<key>long</key>
		<real>13.04441</real>
		<key>name</key>
		<string>Salzburg</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>lat</key>
		<real>40.746636</real>
		<key>long</key>
		<real>-73.979235</real>
		<key>name</key>
		<string>Stern College, 245 Lexington Avenue</string>
	</dict>
	<key>SF</key>
	<dict>
		<key>lat</key>
		<real>41.182678</real>
		<key>long</key>
		<real>-74.31888600000001</real>
		<key>name</key>
		<string>Sterling Forest</string>
	</dict>
	<key>SG</key>
	<dict>
		<key>lat</key>
		<real>1.352083</real>
		<key>long</key>
		<real>103.819836</real>
		<key>name</key>
		<string>Singapore</string>
	</dict>
	<key>SH</key>
	<dict>
		<key>lat</key>
		<real>31.224353</real>
		<key>long</key>
		<real>121.475916</real>
		<key>name</key>
		<string>Shanghai</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>lat</key>
		<real>40.606679</real>
		<key>long</key>
		<real>-74.162418</real>
		<key>name</key>
		<string>Staten Island</string>
	</dict>
	<key>SL</key>
	<dict>
		<key>lat</key>
		<real>38.061452</real>
		<key>long</key>
		<real>-82.961676</real>
		<key>name</key>
		<string>Sarah Lawrence</string>
	</dict>
	<key>SN</key>
	<dict>
		<key>lat</key>
		<real>14.497401</real>
		<key>long</key>
		<real>-14.452362</real>
		<key>name</key>
		<string>Senegal</string>
	</dict>
	<key>SP</key>
	<dict>
		<key>lat</key>
		<real>40.463667</real>
		<key>long</key>
		<real>-3.74922</real>
		<key>name</key>
		<string>Spain</string>
	</dict>
	<key>SQ</key>
	<dict>
		<key>lat</key>
		<real>41.042311</real>
		<key>long</key>
		<real>-73.93583700000001</real>
		<key>name</key>
		<string>St. Thomas Aquinas College</string>
	</dict>
	<key>ST</key>
	<dict>
		<key>lat</key>
		<real>40.74608</real>
		<key>long</key>
		<real>-74.02519700000001</real>
		<key>name</key>
		<string>Stevens Institute of Technology</string>
	</dict>
	<key>SU</key>
	<dict>
		<key>lat</key>
		<real>40.754241</real>
		<key>long</key>
		<real>-73.982698</real>
		<key>name</key>
		<string>Suny College of Optometry, 33 West 42nd Street</string>
	</dict>
	<key>SV</key>
	<dict>
		<key>lat</key>
		<real>48.669026</real>
		<key>long</key>
		<real>19.699024</real>
		<key>name</key>
		<string>Slovakia</string>
	</dict>
	<key>SW</key>
	<dict>
		<key>lat</key>
		<real>60.128161</real>
		<key>long</key>
		<real>18.643501</real>
		<key>name</key>
		<string>Sweden</string>
	</dict>
	<key>SZ</key>
	<dict>
		<key>lat</key>
		<real>46.818188</real>
		<key>long</key>
		<real>8.227512000000001</real>
		<key>name</key>
		<string>Switzerland</string>
	</dict>
	<key>TA</key>
	<dict>
		<key>lat</key>
		<real>32.0554</real>
		<key>long</key>
		<real>34.7595</real>
		<key>name</key>
		<string>Tel Aviv</string>
	</dict>
	<key>TC</key>
	<dict>
		<key>lat</key>
		<real>40.728829</real>
		<key>long</key>
		<real>-73.991034</real>
		<key>name</key>
		<string>SCPS Test Center, 50 Cooper Square, Room 300</string>
	</dict>
	<key>TU</key>
	<dict>
		<key>lat</key>
		<real>43.567115</real>
		<key>long</key>
		<real>10.9807</real>
		<key>name</key>
		<string>Tuscany</string>
	</dict>
	<key>UG</key>
	<dict>
		<key>lat</key>
		<real>1.373333</real>
		<key>long</key>
		<real>32.290275</real>
		<key>name</key>
		<string>Uganda</string>
	</dict>
	<key>VE</key>
	<dict>
		<key>lat</key>
		<real>45.434336</real>
		<key>long</key>
		<real>12.338784</real>
		<key>name</key>
		<string>Venice</string>
	</dict>
	<key>VI</key>
	<dict>
		<key>lat</key>
		<integer>0</integer>
		<key>long</key>
		<integer>0</integer>
		<key>name</key>
		<string>Viacom Center</string>
	</dict>
	<key>VK</key>
	<dict>
		<key>lat</key>
		<real>40.722547</real>
		<key>long</key>
		<real>-74.006308</real>
		<key>name</key>
		<string>75 Varick Street (At Canal St.)</string>
	</dict>
	<key>VN</key>
	<dict>
		<key>lat</key>
		<real>14.058324</real>
		<key>long</key>
		<real>108.277199</real>
		<key>name</key>
		<string>Vietnam</string>
	</dict>
	<key>WA</key>
	<dict>
		<key>lat</key>
		<real>40.616023</real>
		<key>long</key>
		<real>-74.09436100000001</real>
		<key>name</key>
		<string>Wagner College</string>
	</dict>
	<key>WC</key>
	<dict>
		<key>lat</key>
		<real>40.75986</real>
		<key>long</key>
		<real>-73.970641</real>
		<key>name</key>
		<string>Wise Community Center, 123 East 55th Street</string>
	</dict>
	<key>WS</key>
	<dict>
		<key>lat</key>
		<real>40.728391</real>
		<key>long</key>
		<real>-73.996933</real>
		<key>name</key>
		<string>Washington Square</string>
	</dict>
	<key>WW</key>
	<dict>
		<key>lat</key>
		<real>40.712245</real>
		<key>long</key>
		<real>-74.0086</real>
		<key>name</key>
		<string>Woolworth Building, 15 Barclay Street</string>
	</dict>
</dict>
</plist>
